<% include partials/header%>
<% include partials/navbar%>

<h1> CARRELLO <h1>

<div>
	<% if (elementi.length > 0) {%>
		<tr>
	        <% elementi.forEach(function(elemento){%>
	            <td>
	                <div>
	                    <a href="/catalog/<%= elemento.prodotto._id %>"><h4><%= elemento.prodotto.nome.toUpperCase() %></h4></a>
	                    </div>
	                <div>
	                    <h2><%= elemento.prodotto.prezzoScontato * elemento.quantita %>€</h2>
	                    </div>
	                <div>
	                <form action="/modificaQuantita" method="POST">
	                    <h2><%= elemento.quantita %></h2>
	                    <input name="newQuantita" type="number" min="1" max="<%= elemento.prodotto.quantita%>"> </input>
	                    <button type="submit"> Modifica Quantita </button>
	                </form>
	                    </div>
	                <div>
	                    <img src="<%= elemento.prodotto.immagine%>" height="200px" width="225px">
	                    </div> 
	            </td> 
	        <% }); %>
	    </tr>
	<% } else {%>
		<h1> CARRELLO VUOTO <h1>
	<% }%>
</div>


<% include partials/footer%>