<% include partials/header%>
<% include partials/navbar%>

<div id="carrello" class="container">
<h1> CARRELLO </h1>
<br>
<div>
	<% if (elementi.length > 0) {%>
		<table>
		<tbody>
		<%var i = 0;%>
			<% elementi.forEach(function(elemento){%>
				<tr>
					<div class="form-group">
						<a href="/catalog/<%= elemento.prodotto._id %>">
							<img src="<%= elemento.prodotto.immagine%>" height="200px" width="200px">
							<h4><%= elemento.prodotto.nome.toUpperCase() %></h4>
						</a>
						
						<h2> 
							<% if (elemento.prodotto.prezzo == elemento.prodotto.prezzoScontato) {%>
								<span class="prezzo"><%=elemento.prodotto.prezzo * elemento.quantita%></span> 
							<% } else { %>
								<span class="prezzo"><%=elemento.prodotto.prezzoScontato * elemento.quantita%></span> 
							<% } %> 
							€</h2>
			
						<form action="modificaProdottoCarrello/<%=elemento.prodotto._id%>/<%=i%>" method="POST">
							<input type="number" name="<%=i%>" value="<%=elemento.quantita%>" class="quantita form-control"> </input>
							<button type="submit" class="btn"> Modifica Quantità </button>
						</form>
						
						<form action="eliminaProdottoCarrello/<%=elemento.prodotto._id%>" method="POST">
							<button type="submit" class="btn"> Elimina Prodotto </button>
						</form>
					</div> 
					<br>
					<hr>
				</tr>		
				<% i++; %>
			<% }); %>
			</tr>
		</tbody>
		</table>
	<% } else {%>
		<h1> CARRELLO VUOTO </h1>
	<% }%>
</div>

<div>
	<br>
	<h3> Prezzo finale: <span id="prezzoFinale"> </span> </h3>
	<form action="/concludiOrdine" method="POST"> 
		<button type="submit" class="btn btn-primary"> Completa Ordine </button>
	</form>
</div>

<script src="modificaQuantita.js">  </script>
</div>
<% include partials/footer%>