<% include partials/header%>
<% include partials/navbar%>

<div>
    <h1> HOT - LE OFFERTE DEL MOMENTO <img src="Immagini/flame.png" alt="Fiamma"> </h1>
    <div class="box">
            <% var contatore=0; %>
            <table>
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <!-- controllo per array vuoto?-->
                        <% prodottiHot.forEach(function(ProdottoHot){%>
                        <td>
                            <div>
                                <h2><%= ProdottoHot.nomeVisualizzato %></h2>             
                            </div>
                            <div>
                                <strike><h4><%= ProdottoHot.prezzo %>€</h4></strike>
                            </div>
                            <div>
                                <h3><%= ProdottoHot.prezzoScontato %>€</h3>
                            </div>
                            <div>
                                <% var sconto=Math.round((ProdottoHot.prezzo-ProdottoHot.prezzoScontato)*100)/100; %>
                                <% var percentualeSconto=Math.round((100*sconto/ProdottoHot.prezzo)*100)/100; %>
                                <h4>Risparmia <%=sconto%>€ (-<%= percentualeSconto%>%)</h4>
                            </div>
                            <div>
                                <img src="<%= ProdottoHot.immagine%>" height="200px" width="225px">
                            </div>
                            <a href="/catalog/<%= ProdottoHot._id %>"> More Info! </a>
                        </td> 
                        <% contatore=contatore+1; %>
                        <% if(contatore%4==0){ %>
                            </tr>
                            <tr>
                        <% } %>
                      <% }) %>
                    </tr>
                </tbody>
            </table>
    </div>
</div>


<div>
    <h1> LE ULTIME NOVITA' </h1>
    <div class="box">
            <% var conta=0; %>
            <table>
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <!-- controllo per array vuoto?-->
                        <% prodottiNuovi.forEach(function(ProdottoNew){%>
                        <td>
                            <div>
                                <h4><%= ProdottoNew.nomeVisualizzato %></h4>             
                            </div>
                            <div>
                                <h2><%= ProdottoNew.prezzoScontato %>€</h2>
                            </div>
                            <div>
                                <img src="<%= ProdottoNew.immagine%>" height="200px" width="225px">
                            </div>
                            <a href="/catalog/<%= ProdottoNew._id %>"> More Info! </a>
                        </td> 
                        <% conta=conta+1; %>
                        <% if(contatore%4==0){ %>
                            </tr>
                            <tr>
                        <% } %>
                      <% }) %>
                    </tr>
                </tbody>
            </table>
    </div>
</div>

<!-- chi se la sente?
<div>
    <h1> CONSIGLIATI PER TE </h1>
    <div class="box"> </div>
</div>
-->

<% include partials/footer%>