<% include partials/header%>
<% include partials/navbar%>

<div>
        <form action="/adminManagement" method="POST">
            <input type="text" name="cerca" placeholder="Cerca...">
            <button type="submit">Cerca</button>
        </form>
    </div>

<div>
    <% prodotti.forEach(function(Prodotto){%>
        <div>
                <p>***</p>
                <p><%= Prodotto.nome %></p>
                <p>Prezzo: <%= Prodotto.prezzo %></p>
                <p>Quantità disponibili: <%= Prodotto.quantita %></p>
                <p>Email Produttore per il Riordino: <a href="mailto:<%= Prodotto.emailProduttore %>"><%= Prodotto.emailProduttore %></a></p>
                <p>***</p>
        </div>
    <% }) %>
</div>

<% include partials/footer%>