<% include partials/header%>
<% include partials/navbar%>

<table>
    <thead>
    </thead>
    <tbody>
        <tr style="width: 100%">
            <td style="width:30%; padding-right:20px; padding-left:10px; padding-bottom:10px; padding-top:10px;">
                <div style="border:solid black 1px;"><img src="<%= prodotti.immagine%>" height="100%" width="100%"></div>
            </td>
            <td style="width:30%">
                <h1><%= prodotti.nomeVisualizzato%></h1>
                <hr>
                <% if (prodotti.prezzo > prodotti.prezzoScontato) {%> 
                    <h3>Prezzo base: <strike><%= prodotti.prezzo%>€</strike></h3>
                    <br>
                    <h2>Prezzo scontato: <%= prodotti.prezzoScontato%>€</h2>
                    <% var sconto=Math.round((prodotti.prezzo-prodotti.prezzoScontato)*100)/100; %>
                    <% var percentualeSconto=Math.round((100*sconto/prodotti.prezzo)*100)/100; %>
                    <h4>Risparmia <%=sconto%>€ (-<%= percentualeSconto%>%)</h4>
                <% } else {%>
                        <h3>Prezzo: <%= prodotti.prezzo%>€</h3>
                <% }%>
                <hr>
                <h4>Disponibilità: <%=prodotti.quantita%> pezzi</h4>
                <% if(prodotti.votoMedio==0){ %>
                <h4>Nessuna Votazione</h4>
                <%} else{ %>
                    <h5>Voto Medio: <%= prodotti.votoMedio%></h5>
                <%} %>
            </td>
            <td style="width:30%">
                <div style="text-align:center">
                 <form action="/catalog/<%= prodotti._id%>" method="POST">
                 <label for="addCart">Aggiungi al Carrello: </label>
                 <input type="number" id="quantita" name="quantita" value="1" min="1" max="<%= prodotti.quantita%>" style="width:45px;"></input>
                 <button type="submit" id="addCart" style="background: url(/Immagini/cart.png); width:60px;height:60px; vertical-align:middle"></button>
                 <input type="hidden" name="azioneUtente" value="cart"></input>
                 </form>
                </div>
                <div style="text-align:center">
                 <form action="/catalog/<%= prodotti._id%>/wishlist" method="POST">
                 <label for="addWish">Aggiungi a WishList: </label>
                 <button type="submit" id="addWish" style="background: url(/Immagini/wishlist.png); width:60px;height:60px; vertical-align:middle"></button>
                 <input type="hidden" name="azioneUtente" value="wishlist"></input>
                 </form>
                </div>
            </td>
        </tr>
    </tbody>
    </table>
    <hr style="margin-top:50px">
    <div style="text-align:center; padding-left:20%; padding-right:20%;">
            <h4>Descrizione Prodotto</h4>
            <p><%= prodotti.descrizione%></p>
    </div>
    <table style="width:100%">
        <thead></thead>
        <tbody style="text-align:left">
        <tr>
            <td> 
                <% if(prodotti.commenti.length==0){ %>
                <h5>Nessuna Recensione</h5>
                <hr>
                <%} else{ %>
                <h5>Recensioni</h5>
                    <hr>
                    <% prodotti.commenti.forEach(function(commento){%>
                    <p><%= commento.autore%>, il <%= commento.data.getDate()%>/<%= commento.data.getMonth()%>/<%= commento.data.getFullYear()%>
                    , ore <%= commento.data.getHours()%>:<%= commento.data.getMinutes()%> con Voto: <%= commento.voto%> dice:</p>
                   <p><%= commento.testo%></p>
                   <hr>
                   <% });%>
                   <% } %>
            </td>
        </tr>
    </tbody>
</table>

<div style="text-align:center; width:100%">
<form action="/catalog/<%= prodotti._id%>/recensioni" method="POST">
    <label for="bottoneToRecensione">Recensisci questo prodotto!</label>
    <input type="hidden" name="prodottoRecensione" value="<%= prodotti._id %>"></input>
    <button type="submit" id="bottoneToRecensione">Vai</button>
</form>
</div>

<% include partials/footer%>