<% include partials/header%>
<% include partials/navbar%>

<h1><%= prodotti.nomeVisualizzato%></h1>
<% if (prodotti.prezzo > prodotti.prezzoScontato) {%> 
    <h3>Prezzo base: <strike><%= prodotti.prezzo%>€</strike></h3>
    <h2>Prezzo scontato: <%= prodotti.prezzoScontato%>€</h2>
<% } else {%>
    <h3>Prezzo base: <%= prodotti.prezzo%></h3>
<% }%>
<h4>Disponibilità: <%=prodotti.quantita%> pezzi</h4>
<h4>Voto Medio: <%= prodotti.votoMedio%></h4>
<img src="<%= prodotti.immagine%>" height="400px" width="460px">
<p><%= prodotti.descrizione%></p>

<h5>Recensioni</h5>
<div>
<hr>

<!-- RIAGGIUNGI QUI DA PRODOTTI.JS -->

</div>

<!-- predisposizione per carrello-->
<div>
    <form action="/catalog/<%= prodotti._id%>" method="POST">
    <label for="addCart">Aggiungi al Carrello: </label>
    <input type="number" id="quantita" name="quantita" value="1" min="1" max="<%= prodotti.quantita%>"></input>
    <input type="submit" id="addCart" value="Add to cart"></input>
    <input type="hidden" name="azioneUtente" value="cart"></input>
    </form>
</div>
<!-- predisposizione per wishlist -->
<div>
    <form action="/catalog/<%= prodotti._id%>/wishlist" method="POST">
    <label for="addWish">Aggiungi a WishList: </label>
    <input type="submit" id="addWish" value="Add to WishList"></input>
    <input type="hidden" name="azioneUtente" value="wishlist"></input>
    </form>
</div>

<div>
<form action="/catalog/<%= prodotti._id%>/recensioni>" method="POST">
    <label for="bottoneToRecensione">Recensisci questo prodotto!</label>
    <input type="hidden" name="prodottoRecensione" value="<%= prodotti._id %>"></input>
    <button type="submit" id="bottoneToRecensione">Vai</button>
</form>
</div>

<% include partials/footer%>