<% include partials/header%>
<% include partials/navbar%>

<div>
    <% prodotti.forEach(function(Prodotto){%>
        <div>
            <div>
                <a href="/catalog/<%= Prodotto._id %>">
                    <h2><%= Prodotto.nomeVisualizzato %></h2>   
                </a>          
            </div>
            <div>
                <h3>Prezzo: <%= Prodotto.prezzoScontato %>€</h3>
            </div>
            <div>
                <h4>Voto: <%= Prodotto.votoMedio %></h4>
            </div>
            <div>
                <a href="/catalog/<%= Prodotto._id %>">
                    <img src="<%= Prodotto.immagine%>" height="200px" width="240px">
                </a>
            </div>
        </div>
    <% }) %>
</div>

<% include partials/footer%>