<% include partials/header%>
<% include partials/navbar%>

<div class="container">
<h1> WISHLIST </h1>

	<% if (elementi.length > 0) {%>
	        <% elementi.forEach(function(elemento){%>
	                    	<img src="<%= elemento.immagine%>" height="90px" width="90px" style="float: left;">
				<div class="media" style="margin-bottom: 20px;">
	                <div >
						<a href="/catalog/<%= elemento._id %>">
							<h4> <%= elemento.nome.toUpperCase() %> </h4>
						</a>
					</div>
					<div style="padding-left:10px">
						<h4>- <%=elemento.prezzo%>  €</h4>
					</div>
	                <div style="text-align:right">
	                    <form action="eliminaProdottoWishlist/<%=elemento._id%>" method="POST">
	                    	<button type="submit" class="btn btn-warning" > Elimina Prodotto </button>
	                   	</form>
					</div>
					<hr> 
				</div>
	        <% }); %>
	<% } else {%>
		<hr>
		<h1> WISHLIST VUOTA <h1>
	<% }%>
</div>

</div>

<% include partials/footer%>